# GENERATED FILE. Do not edit. Built from v1.yaml by scripts/docs/build-ro-openapi.mjs
# using scripts/docs/ro.translations.json.
openapi: 3.1.0
info:
  title: ThinkOut API
  version: '1.0'
  description: |-
    Acces de citire la datele unui spațiu de lucru ThinkOut.

    În versiunea 1 fiecare endpoint este un `GET`. Listele folosesc același înveliș și se paginează cu un cursor oriunde pot crește. Fiecare răspuns poartă `X-RateLimit-Limit`, `X-RateLimit-Remaining` și `X-RateLimit-Reset`.

    Versiunea 1 se schimbă doar prin adăugare: pot apărea oricând endpointuri noi, parametri opționali, câmpuri de răspuns și valori de enumerare. Tolerează câmpurile necunoscute și nu trata niciodată o enumerare ca închisă.
  contact:
    name: Suport ThinkOut
    url: https://developers.thinkout.io/guides/support
servers:
  - url: https://api.thinkout.io/v1
security:
  - apiKey: []
tags:
  - name: Bănci
    description: Conexiunile bancare ale spațiului de lucru și starea fiecăreia.
  - name: Conturi
    description: Conturi manuale, sincronizate cu banca și delegate, cu solduri calculate.
  - name: Tranzacții
    description: Mișcări înregistrate și în așteptare pe conturile spațiului de lucru.
  - name: Categorii
    description: Arborele de categorii al spațiului de lucru, pe direcție și activitate.
  - name: Parteneri
    description: Clienții și furnizorii cărora le sunt atribuite tranzacțiile și previziunile.
  - name: Etichete
    description: Etichete libere, grupate pe tipuri.
  - name: Previziuni
    description: Încasări și plăți planificate și tranzacțiile care le-au realizat.
  - name: Rapoarte
    description: Totaluri, nu rânduri. Sinteze peste tranzacții și previziuni, plus soldurile pe conturi.
paths:
  /banks:
    get:
      tags:
        - Bănci
      operationId: listBanks
      summary: Listează conexiunile bancare
      description: |-
        Conexiunile bancare ordonate după `name`, apoi după `id`. O conexiune este o autorizare cu o singură bancă și poate alimenta mai multe conturi.

        Sunt listate doar conexiunile acestui spațiu de lucru. `bank` de pe un cont `delegated` indică o conexiune a altui spațiu de lucru, care nu poate fi citită aici. Conturile manuale nu au conexiune.
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BankStatus'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: O pagină de conexiuni bancare.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/List'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Bank'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/banci/listeaza-conexiunile-bancare
  /banks/{id}:
    get:
      tags:
        - Bănci
      operationId: getBank
      summary: Citește o conexiune bancară
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Conexiunea bancară.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bank'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/banci/citeste-o-conexiune-bancara
  /accounts:
    get:
      tags:
        - Conturi
      operationId: listAccounts
      summary: Listează conturile
      description: |-
        Toate conturile, ordonate după `name`, apoi după `id`. Lista nu se paginează: `has_more` este întotdeauna `false`, iar `next_cursor` este `null`.

        Soldurile sunt la data de azi, în UTC. Pentru altă zi folosește `GET /accounts/{id}` cu `as_of`, sau `GET /balances` pentru toate conturile deodată.
      parameters:
        - name: bank_id
          in: query
          description: Doar conturile alimentate de aceste conexiuni bancare. Separate prin virgulă pentru mai multe.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        - $ref: '#/components/parameters/account_expand'
      responses:
        '200':
          description: Toate conturile din spațiul de lucru.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/List'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Account'
                      has_more:
                        type: boolean
                        const: false
                        description: Întotdeauna `false`. Această listă nu se paginează.
                      next_cursor:
                        type: 'null'
                        description: Întotdeauna `null`. Această listă nu se paginează.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/conturi/listeaza-conturile
  /accounts/{id}:
    get:
      tags:
        - Conturi
      operationId: getAccount
      summary: Citește un cont
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/as_of'
        - $ref: '#/components/parameters/account_expand'
      responses:
        '200':
          description: Contul.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/conturi/citeste-un-cont
  /transactions:
    get:
      tags:
        - Tranzacții
      operationId: listTransactions
      summary: Listează tranzacțiile
      description: Tranzacțiile ordonate după `date` descrescător, apoi după `id`.
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/bank_id'
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/category_id'
        - $ref: '#/components/parameters/label_id'
        - $ref: '#/components/parameters/counterparty_id'
        - $ref: '#/components/parameters/direction'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/TransactionStatus'
        - $ref: '#/components/parameters/transaction_expand'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: O pagină de tranzacții.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/List'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Transaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/tranzactii/listeaza-tranzactiile
  /transactions/{id}:
    get:
      tags:
        - Tranzacții
      operationId: getTransaction
      summary: Citește o tranzacție
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/transaction_expand'
      responses:
        '200':
          description: Tranzacția.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/tranzactii/citeste-o-tranzactie
  /categories:
    get:
      tags:
        - Categorii
      operationId: listCategories
      summary: Listează categoriile
      description: |-
        Arborele de categorii aplatizat, în ordinea în care îl afișează ThinkOut: încasările, apoi plățile; în fiecare, categoria urmată de subcategoriile ei, cele de pe același nivel după `position`. `direction` restrânge la o singură parte.

        Reconstruiește ierarhia cu `parent_id`.
      parameters:
        - $ref: '#/components/parameters/direction'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: O pagină de categorii.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/List'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/categorii/listeaza-categoriile
  /categories/{id}:
    get:
      tags:
        - Categorii
      operationId: getCategory
      summary: Citește o categorie
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Categoria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/categorii/citeste-o-categorie
  /counterparties:
    get:
      tags:
        - Parteneri
      operationId: listCounterparties
      summary: Listează partenerii
      description: Partenerii ordonați după `name`, apoi după `id`.
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: O pagină de parteneri.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/List'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Counterparty'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/parteneri/listeaza-partenerii
  /counterparties/{id}:
    get:
      tags:
        - Parteneri
      operationId: getCounterparty
      summary: Citește un partener
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Partenerul.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Counterparty'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/parteneri/citeste-un-partener
  /labels:
    get:
      tags:
        - Etichete
      operationId: listLabels
      summary: Listează etichetele
      description: Etichetele ordonate după `name`, apoi după `id`. Nu există filtre; fiecare etichetă își poartă tipul.
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: O pagină de etichete.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/List'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Label'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/etichete/listeaza-etichetele
  /labels/{id}:
    get:
      tags:
        - Etichete
      operationId: getLabel
      summary: Citește o etichetă
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Eticheta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/etichete/citeste-o-eticheta
  /forecasts:
    get:
      tags:
        - Previziuni
      operationId: listForecasts
      summary: Listează previziunile
      description: Previziunile cu dată, ordonate după `date` descrescător, apoi după `id`. Previziunile fără dată nu sunt expuse.
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/category_id'
        - $ref: '#/components/parameters/label_id'
        - $ref: '#/components/parameters/counterparty_id'
        - $ref: '#/components/parameters/direction'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ForecastStatus'
        - $ref: '#/components/parameters/forecast_expand'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: O pagină de previziuni.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/List'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Forecast'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/previziuni/listeaza-previziunile
  /forecasts/{id}:
    get:
      tags:
        - Previziuni
      operationId: getForecast
      summary: Citește o previziune
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/forecast_expand'
      responses:
        '200':
          description: Previziunea.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forecast'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/previziuni/citeste-o-previziune
  /transactions/summary:
    get:
      tags:
        - Rapoarte
      operationId: summariseTransactions
      summary: Sintetizează tranzacțiile
      description: |-
        Totaluri peste tranzacțiile pe care le listează `/transactions`, cu aceleași filtre, pe interval de timp și cel mult încă o dimensiune.

        Regulile de numărare sunt fixe, ca cifrele să coincidă cu ThinkOut: transferurile între conturile proprii ale spațiului de lucru și tranzacțiile excluse de utilizator sunt lăsate deoparte, iar tranzacțiile împărțite se numără prin bucățile lor. `/transactions` listează fiecare mișcare, așa că însumarea ei dă o cifră diferită.

        Sumele se convertesc în `currency` la cursul din data fiecărei tranzacții. Intervalele sunt aliniate la calendar și tăiate la fereastra cerută. `totals` acoperă întreaga fereastră.

        Rândurile grupate doar pe interval poartă și soldul de început, transferurile, mișcările excluse și soldul de final ale intervalului. Cele patru sunt `null` când este trimis `group_by` sau `direction`.

        Rândurile grupate sunt ordonate după `net` în valoare absolută, cel mai mare primul. Un interval păstrează cel mult 50 de grupuri; restul se strâng într-un singur rând etichetat `other`. Tranzacțiile fără partener sau fără etichetă ajung într-un rând `none`, iar o tranzacție cu mai multe etichete se numără o dată pentru fiecare etichetă. Aici `category_id` acoperă și subcategoriile.

        Filtrele se combină cu AND; un filtru care acceptă o listă își combină valorile cu OR.

        **Încasări și plăți pe luni, cu solduri**

        ```http
        GET /transactions/summary?from=2026-03-01&to=2026-04-30&interval=month
        ```

        **Plăți pe partener, pe luni**

        ```http
        GET /transactions/summary?from=2026-07-01&to=2026-08-31&interval=month&group_by=counterparty&direction=outflow
        ```

        **Cash flow pe luni pentru conturile unei bănci**

        ```http
        GET /transactions/summary?from=2026-03-01&to=2026-08-31&interval=month&bank_id=5d6e7f80-9a1b-4c2d-8e3f-4a5b6c7d8e9f
        ```
      parameters:
        - name: from
          in: query
          required: true
          description: Prima zi a ferestrei, inclusiv.
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          description: Ultima zi a ferestrei, inclusiv.
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/interval'
        - name: group_by
          in: query
          description: O a doua dimensiune de grupare, pe lângă intervalul de timp. Omite-o pentru un singur rând per interval.
          schema:
            $ref: '#/components/schemas/GroupDimension'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/bank_id'
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/category_id'
        - $ref: '#/components/parameters/label_id'
        - $ref: '#/components/parameters/counterparty_id'
        - $ref: '#/components/parameters/direction'
        - $ref: '#/components/parameters/activity'
      responses:
        '200':
          description: Sinteza.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Summary'
              examples:
                By month, with balances:
                  summary: One row per month, balance fields present
                  value:
                    object: summary
                    period:
                      from: '2026-03-01'
                      to: '2026-04-30'
                      macro: null
                      interval: month
                    conversion:
                      applied: true
                      currency: RON
                      basis: transaction_date
                    group_by: null
                    has_data: true
                    totals:
                      currency: RON
                      inflow: '163900.00'
                      outflow: '-118420.75'
                      net: '45479.25'
                      count: 401
                    data:
                      - period_start: '2026-03-01'
                        period_end: '2026-03-31'
                        group: null
                        currency: RON
                        inflow: '84200.00'
                        outflow: '-61350.25'
                        net: '22849.75'
                        count: 212
                        starting_balance: '128400.10'
                        transfers: '0.00'
                        excluded: '-1500.00'
                        final_balance: '149749.85'
                      - period_start: '2026-04-01'
                        period_end: '2026-04-30'
                        group: null
                        currency: RON
                        inflow: '79700.00'
                        outflow: '-57070.50'
                        net: '22629.50'
                        count: 189
                        starting_balance: '149749.85'
                        transfers: '0.00'
                        excluded: '0.00'
                        final_balance: '172379.35'
                By month and counterparty:
                  summary: One row per month per counterparty, balance fields null
                  value:
                    object: summary
                    period:
                      from: '2026-07-01'
                      to: '2026-08-31'
                      macro: null
                      interval: month
                    conversion:
                      applied: true
                      currency: RON
                      basis: transaction_date
                    group_by: counterparty
                    has_data: true
                    totals:
                      currency: RON
                      inflow: '0.00'
                      outflow: '-42461.00'
                      net: '-42461.00'
                      count: 9
                    data:
                      - period_start: '2026-07-01'
                        period_end: '2026-07-31'
                        group:
                          dimension: counterparty
                          id: 4d5e6f70-8192-4a3b-9c4d-5e6f7a8b9c0d
                          label: Regus
                        currency: RON
                        inflow: '0.00'
                        outflow: '-12000.00'
                        net: '-12000.00'
                        count: 1
                        starting_balance: null
                        transfers: null
                        excluded: null
                        final_balance: null
                      - period_start: '2026-07-01'
                        period_end: '2026-07-31'
                        group:
                          dimension: counterparty
                          id: 9a8b7c6d-5e4f-4a3b-8c2d-1e0f9a8b7c6d
                          label: Orange Romania
                        currency: RON
                        inflow: '0.00'
                        outflow: '-6115.50'
                        net: '-6115.50'
                        count: 2
                        starting_balance: null
                        transfers: null
                        excluded: null
                        final_balance: null
                      - period_start: '2026-08-01'
                        period_end: '2026-08-31'
                        group:
                          dimension: counterparty
                          id: 4d5e6f70-8192-4a3b-9c4d-5e6f7a8b9c0d
                          label: Regus
                        currency: RON
                        inflow: '0.00'
                        outflow: '-18230.00'
                        net: '-18230.00'
                        count: 4
                        starting_balance: null
                        transfers: null
                        excluded: null
                        final_balance: null
                      - period_start: '2026-08-01'
                        period_end: '2026-08-31'
                        group:
                          dimension: counterparty
                          id: 9a8b7c6d-5e4f-4a3b-8c2d-1e0f9a8b7c6d
                          label: Orange Romania
                        currency: RON
                        inflow: '0.00'
                        outflow: '-6115.50'
                        net: '-6115.50'
                        count: 2
                        starting_balance: null
                        transfers: null
                        excluded: null
                        final_balance: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/RequestTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/rapoarte/sintetizeaza-tranzactiile
  /forecasts/summary:
    get:
      tags:
        - Rapoarte
      operationId: summariseForecasts
      summary: Sintetizează previziunile
      description: |-
        Totaluri peste previziunile cu dată, pe interval de timp și cel mult încă o dimensiune. Trimite `period`, sau atât `from`, cât și `to`.

        `amount` însumează ce a fost planificat, iar `remaining_amount` partea neacoperită încă de tranzacții. Sumele se convertesc în `currency` la cursul din data fiecărei previziuni. Intervalele sunt aliniate la calendar și tăiate la fereastra cerută.

        Rândurile grupate sunt ordonate după `amount` în valoare absolută, cel mai mare primul, fără plafon per interval. Previziunile fără partener sau fără etichetă ajung într-un rând `None`, iar o previziune cu mai multe etichete se numără o dată pentru fiecare etichetă.
      parameters:
        - $ref: '#/components/parameters/period'
        - name: from
          in: query
          description: Prima zi a ferestrei, inclusiv. Obligatoriu împreună cu `to`, dacă nu este trimis `period`.
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: Ultima zi a ferestrei, inclusiv. Obligatoriu împreună cu `from`, dacă nu este trimis `period`.
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/interval'
        - name: group_by
          in: query
          description: O a doua dimensiune de grupare, pe lângă intervalul de timp. Omite-o pentru un singur rând per interval.
          schema:
            $ref: '#/components/schemas/ForecastGroupDimension'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/category_id'
        - $ref: '#/components/parameters/label_id'
        - $ref: '#/components/parameters/counterparty_id'
        - $ref: '#/components/parameters/direction'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ForecastStatus'
      responses:
        '200':
          description: Sinteza.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/RequestTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/rapoarte/sintetizeaza-previziunile
  /balances:
    get:
      tags:
        - Rapoarte
      operationId: getBalances
      summary: Citește soldurile
      description: |-
        Soldul fiecărui cont și totalul lor la sfârșitul zilei `as_of`, conturile ordonate după `name`.

        Un sold este soldul inițial plus tranzacțiile contului până în ziua aceea, așa că `as_of` nu poate fi în viitor. Fiecare sold se convertește integral la cursul din `as_of`, spre deosebire de o sinteză, care convertește fiecare mișcare la data ei.
      parameters:
        - $ref: '#/components/parameters/as_of'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Soldurile pe fiecare cont și totalul.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balances'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /ro/api-reference/rapoarte/citeste-soldurile
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: O cheie API creată în setările ThinkOut. O cheie citește un singur spațiu de lucru.
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    from:
      name: from
      in: query
      description: Cea mai veche `date` inclusă, inclusiv.
      schema:
        type: string
        format: date
    to:
      name: to
      in: query
      description: Cea mai recentă `date` inclusă, inclusiv.
      schema:
        type: string
        format: date
    direction:
      name: direction
      in: query
      schema:
        $ref: '#/components/schemas/Direction'
    activity:
      name: activity
      in: query
      description: Doar rândurile a căror categorie se află în aceste secțiuni ale situației fluxurilor de numerar. Separate prin virgulă pentru mai multe.
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Activity'
    bank_id:
      name: bank_id
      in: query
      description: Doar rândurile de pe conturile alimentate de aceste conexiuni bancare. Separate prin virgulă pentru mai multe.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    account_id:
      name: account_id
      in: query
      description: Doar rândurile de pe aceste conturi. Separate prin virgulă pentru mai multe.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    category_id:
      name: category_id
      in: query
      description: Doar rândurile din aceste categorii. Separate prin virgulă pentru mai multe. Pe `/transactions` se potrivește și cu o tranzacție împărțită ale cărei bucăți sunt în una dintre ele. Subcategoriile sunt incluse doar pe `/transactions/summary`.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    label_id:
      name: label_id
      in: query
      description: Doar rândurile care poartă cel puțin una dintre aceste etichete. Separate prin virgulă pentru mai multe.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    counterparty_id:
      name: counterparty_id
      in: query
      description: Doar rândurile atribuite acestor parteneri. Separate prin virgulă pentru mai multe.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    transaction_expand:
      name: expand
      in: query
      description: Relații de întors ca obiecte în loc de identificatori. Separate prin virgulă. Extinderea merge un singur nivel; un nume necunoscut este respins cu `invalid_expand`.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - account
            - category
            - counterparty
            - labels
      example: category,counterparty
    account_expand:
      name: expand
      in: query
      description: Relații de întors ca obiecte în loc de identificatori. Separate prin virgulă. Extinderea merge un singur nivel; un nume necunoscut este respins cu `invalid_expand`.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - bank
      example: bank
    forecast_expand:
      name: expand
      in: query
      description: Relații de întors ca obiecte în loc de identificatori. Separate prin virgulă. Extinderea merge un singur nivel; un nume necunoscut este respins cu `invalid_expand`.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - category
            - counterparty
            - labels
            - linked_transactions
      example: category,linked_transactions
    as_of:
      name: as_of
      in: query
      description: 'Calculează soldurile la sfârșitul acestei zile. Implicit azi: ziua UTC pe `/accounts/{id}`, ziua locală a spațiului de lucru pe `/balances`. O dată din viitor este respinsă cu `as_of_in_future`.'
      schema:
        type: string
        format: date
    period:
      name: period
      in: query
      description: O fereastră cu nume, rezolvată față de ziua locală a spațiului de lucru și întoarsă în răspuns. Are prioritate față de `from` și `to`.
      schema:
        $ref: '#/components/schemas/PeriodMacro'
    interval:
      name: interval
      in: query
      description: Intervalul de timp în care sunt grupate rândurile.
      schema:
        $ref: '#/components/schemas/Interval'
    currency:
      name: currency
      in: query
      description: Moneda în care se raportează. Implicit moneda spațiului de lucru. Un cod necunoscut este respins.
      schema:
        $ref: '#/components/schemas/Currency'
    limit:
      name: limit
      in: query
      description: Dimensiunea paginii. În afara intervalului este respinsă cu `limit_out_of_range`.
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 100
    cursor:
      name: cursor
      in: query
      description: Token opac din `next_cursor` al paginii anterioare. Păstrează ceilalți parametri neschimbați între pagini.
      schema:
        type: string
  responses:
    BadRequest:
      description: Un parametru este invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              type: invalid_request
              code: invalid_parameter
              message: direction must be 'inflow' or 'outflow'
              param: direction
              request_id: 0HNF8K3QJL2VM:00000001
    Unauthorized:
      description: Cheia API lipsește, este malformată, necunoscută sau revocată.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              type: authentication
              code: unauthorized
              message: Missing, malformed, unknown or revoked API key
              param: null
              request_id: 0HNF8K3QJL2VM:00000001
    Forbidden:
      description: Cheia este validă, dar planul ThinkOut al companiei nu include API-ul.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              type: authentication
              code: forbidden
              message: The API is not included in this company's ThinkOut plan. Contact support@thinkout.io to enable it.
              param: null
              request_id: 0HNF8K3QJL2VM:00000001
    NotFound:
      description: Nu există niciun obiect cu acest id în spațiul de lucru al cheii.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              type: not_found
              code: resource_not_found
              message: Transaction not found
              param: null
              request_id: 0HNF8K3QJL2VM:00000001
    RequestTooLarge:
      description: Raportul ar depăși 1000 de rânduri. `period_too_long` apare doar din fereastră și interval, `too_many_groups` după grupare. Restrânge fereastra, folosește un interval mai mare sau adaugă filtre.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              type: invalid_request
              code: too_many_groups
              message: Grouping by counterparty over this period produces 1240 groups. The maximum is 1000. Narrow the period or the filters.
              param: group_by
              request_id: 0HNF8K3QJL2VM:00000001
    RateLimited:
      description: Peste 120 de cereri în minutul curent pentru această cheie. Așteaptă secundele din `Retry-After`.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Secunde până se resetează fereastra de un minut.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Cereri permise pe minut.
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Cereri rămase în minutul curent.
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Secunde până se resetează fereastra de un minut.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              type: rate_limit
              code: rate_limited
              message: Too many requests
              param: null
              request_id: 0HNF8K3QJL2VM:00000001
  schemas:
    Money:
      type: string
      description: Sumă zecimală ca șir de caractere, cu două decimale. Negativ înseamnă ieșire la tranzacții, previziuni și cifre din rapoarte.
      pattern: ^-?[0-9]+\.[0-9]{2}$
      example: '-1250.00'
    Currency:
      type: string
      description: Cod de monedă alfabetic ISO 4217.
      pattern: ^[A-Z]{3}$
      example: RON
    Direction:
      type: string
      description: Dacă banii intră sau ies. Pe o tranzacție sau o previziune urmează semnul lui `amount`.
      enum:
        - inflow
        - outflow
    Activity:
      type: string
      description: Secțiunea din situația fluxurilor de numerar căreia îi aparține categoria.
      enum:
        - operating
        - investing
        - financing
    TransactionStatus:
      type: string
      description: Tranzacțiile `pending` vin de la bancă și nu sunt încă înregistrate. Suma lor se poate schimba la înregistrare, deci actualizează după `id`.
      enum:
        - booked
        - pending
    TransactionSource:
      type: string
      description: Cum a intrat tranzacția în ThinkOut.
      enum:
        - manual
        - import
        - bank
    AccountSource:
      type: string
      description: Conturile `delegated` sunt conturi bancare pe care alt spațiu de lucru le-a delegat către acesta.
      enum:
        - manual
        - bank
        - delegated
    ForecastStatus:
      type: string
      description: '`realised` este completă. `partial` are tranzacții asociate. `overdue` are data înainte de azi și niciuna. `planned` are data azi sau mai târziu și niciuna.'
      enum:
        - planned
        - overdue
        - partial
        - realised
    RecurrenceInterval:
      type: string
      enum:
        - day
        - week
        - month
        - year
    Interval:
      type: string
      description: Intervalul de timp pentru rândurile unui raport.
      enum:
        - day
        - week
        - month
      default: month
    PeriodMacro:
      type: string
      description: O fereastră cu nume, rezolvată pe server. `last_30_days` și `last_90_days` se termină azi și includ ziua de azi; `last_12_months` începe în ziua de după azi minus douăsprezece luni.
      enum:
        - this_month
        - last_month
        - this_quarter
        - last_quarter
        - this_year
        - last_year
        - month_to_date
        - quarter_to_date
        - year_to_date
        - last_30_days
        - last_90_days
        - last_12_months
    GroupDimension:
      type: string
      description: O dimensiune după care se grupează rândurile raportului, pe lângă intervalul de timp.
      enum:
        - category
        - counterparty
        - label
        - account
        - activity
        - direction
    ForecastGroupDimension:
      type: string
      description: La fel ca `GroupDimension`, plus statusul previziunii. Previziunile nu au cont.
      enum:
        - category
        - counterparty
        - label
        - activity
        - direction
        - status
    List:
      type: object
      required:
        - object
        - data
        - has_more
        - next_cursor
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items: {}
        has_more:
          type: boolean
          description: Dacă mai există o pagină.
        next_cursor:
          type:
            - string
            - 'null'
          description: Trimite-l ca `cursor` pentru pagina următoare. `null` pe ultima pagină.
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - code
            - message
            - param
            - request_id
          properties:
            type:
              type: string
              enum:
                - invalid_request
                - authentication
                - not_found
                - rate_limit
                - server
            code:
              type: string
              description: Motiv stabil, citibil de o mașină. Ramifică pe acesta, nu pe `message`. Unul dintre `invalid_parameter`, `invalid_cursor`, `limit_out_of_range`, `invalid_expand`, `as_of_in_future`, `unauthorized`, `forbidden`, `resource_not_found`, `too_many_groups`, `period_too_long`, `rate_limited`, `internal_error`.
            message:
              type: string
              description: Explicație pentru oameni, în engleză. Formularea se poate schimba.
            param:
              type:
                - string
                - 'null'
              description: Parametrul de query vinovat, când există unul.
            request_id:
              type: string
              description: Menționează-l când contactezi suportul.
    ResolvedPeriod:
      type: object
      description: Fereastra efectiv calculată.
      required:
        - from
        - to
        - macro
        - interval
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        macro:
          oneOf:
            - $ref: '#/components/schemas/PeriodMacro'
            - type: 'null'
          description: Macrocomanda care a produs aceste date, sau `null` când au fost trimise direct.
        interval:
          $ref: '#/components/schemas/Interval'
    Conversion:
      type: object
      description: Ce s-a făcut pentru ca sumele să fie comparabile.
      required:
        - applied
        - currency
        - basis
      properties:
        applied:
          type: boolean
          description: '`false` când toate sumele erau deja în `currency`.'
        currency:
          $ref: '#/components/schemas/Currency'
        basis:
          type: string
          description: '`transaction_date` convertește fiecare mișcare la cursul din data ei. `balance_date` convertește un sold întreg la un singur curs. `none` când nu s-a convertit nimic.'
          enum:
            - transaction_date
            - balance_date
            - none
    ReportGroup:
      type: object
      description: După ce este grupat un rând de raport. `null` la rândurile grupate doar pe interval.
      required:
        - dimension
        - id
        - label
      properties:
        dimension:
          type: string
          example: category
        id:
          type:
            - string
            - 'null'
          format: uuid
          description: Identificatorul obiectului grupat. `null` pentru `activity`, `direction` și `status`, și pentru rândurile `none` și `other`.
        label:
          type: string
          description: Numele grupului. Grupurile care nu sunt obiecte sunt coduri cu litere mici pe `/transactions/summary` (`inflow`, `operating`, `none`, `other`) și nume cu majusculă pe `/forecasts/summary` (`Inflow`, `Planned`, `None`, numele afișat al activității).
          example: Telecom
    SummaryTotals:
      type: object
      description: Întreaga fereastră însumată, după aceleași excluderi ca rândurile.
      required:
        - currency
        - inflow
        - outflow
        - net
        - count
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        inflow:
          $ref: '#/components/schemas/Money'
        outflow:
          $ref: '#/components/schemas/Money'
        net:
          $ref: '#/components/schemas/Money'
        count:
          type: integer
    SummaryRow:
      type: object
      required:
        - period_start
        - period_end
        - group
        - currency
        - inflow
        - outflow
        - net
        - count
        - starting_balance
        - transfers
        - excluded
        - final_balance
      properties:
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        group:
          oneOf:
            - $ref: '#/components/schemas/ReportGroup'
            - type: 'null'
        currency:
          $ref: '#/components/schemas/Currency'
        inflow:
          $ref: '#/components/schemas/Money'
        outflow:
          $ref: '#/components/schemas/Money'
        net:
          $ref: '#/components/schemas/Money'
        count:
          type: integer
          description: Tranzacțiile din spatele acestui rând, după excluderile raportului.
        starting_balance:
          oneOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
          description: Soldul conturilor din perimetru la începutul intervalului. `null` când este trimis `group_by` sau `direction`.
        transfers:
          oneOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
          description: Netul transferurilor între conturile proprii ale spațiului de lucru în interval. Nu face parte din fluxuri. `null` când este trimis `group_by` sau `direction`.
        excluded:
          oneOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
          description: Netul mișcărilor excluse de utilizator din cash flow în interval. Nu face parte din fluxuri. `null` când este trimis `group_by` sau `direction`.
        final_balance:
          oneOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
          description: Soldul la sfârșitul intervalului. Soldul de început plus `net`, `transfers`, `excluded` și soldurile inițiale ale conturilor deschise în interval. `null` când este trimis `group_by` sau `direction`.
    Summary:
      type: object
      required:
        - object
        - period
        - conversion
        - group_by
        - has_data
        - totals
        - data
      properties:
        object:
          type: string
          const: summary
        period:
          $ref: '#/components/schemas/ResolvedPeriod'
        conversion:
          $ref: '#/components/schemas/Conversion'
        group_by:
          oneOf:
            - $ref: '#/components/schemas/GroupDimension'
            - type: 'null'
        has_data:
          type: boolean
          description: '`false` când nicio tranzacție nu s-a potrivit, spre deosebire de totalurile care au ieșit zero.'
        totals:
          $ref: '#/components/schemas/SummaryTotals'
        data:
          type: array
          items:
            $ref: '#/components/schemas/SummaryRow'
    ForecastSummaryRow:
      type: object
      required:
        - period_start
        - period_end
        - group
        - currency
        - amount
        - remaining_amount
        - count
      properties:
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        group:
          oneOf:
            - $ref: '#/components/schemas/ReportGroup'
            - type: 'null'
        currency:
          $ref: '#/components/schemas/Currency'
        amount:
          $ref: '#/components/schemas/Money'
          description: Total planificat.
        remaining_amount:
          $ref: '#/components/schemas/Money'
          description: Total neacoperit încă de tranzacții.
        count:
          type: integer
    ForecastSummary:
      type: object
      required:
        - object
        - period
        - conversion
        - group_by
        - has_data
        - data
      properties:
        object:
          type: string
          const: forecast_summary
        period:
          $ref: '#/components/schemas/ResolvedPeriod'
        conversion:
          $ref: '#/components/schemas/Conversion'
        group_by:
          oneOf:
            - $ref: '#/components/schemas/ForecastGroupDimension'
            - type: 'null'
        has_data:
          type: boolean
          description: '`false` când nicio previziune nu s-a potrivit.'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ForecastSummaryRow'
    AccountBalance:
      type: object
      required:
        - account_id
        - name
        - native_currency
        - native_balance
        - balance
      properties:
        account_id:
          type: string
          format: uuid
        name:
          type: string
          example: ING Curent
        native_currency:
          $ref: '#/components/schemas/Currency'
        native_balance:
          $ref: '#/components/schemas/Money'
          description: Soldul în moneda proprie a contului, neconvertit.
        balance:
          $ref: '#/components/schemas/Money'
          description: Același sold în moneda cerută.
    Balances:
      type: object
      required:
        - object
        - as_of
        - conversion
        - total
        - accounts
      properties:
        object:
          type: string
          const: balances
        as_of:
          type: string
          format: date
          description: Ziua a cărei poziție la sfârșit de zi este raportată.
        conversion:
          $ref: '#/components/schemas/Conversion'
        total:
          $ref: '#/components/schemas/Money'
          description: Toate conturile adunate, în moneda cerută.
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountBalance'
    BankDetails:
      type: object
      description: Câmpuri brute primite de la bancă.
      required:
        - payer
        - payer_details
        - payee
        - payee_details
        - reference
        - additional
      properties:
        payer:
          type:
            - string
            - 'null'
        payer_details:
          type:
            - string
            - 'null'
          description: Identificatorii contului plătitorului, așa cum sunt furnizați de bancă.
        payee:
          type:
            - string
            - 'null'
        payee_details:
          type:
            - string
            - 'null'
        reference:
          type:
            - string
            - 'null'
          description: Referința plății sau linia de informații.
        additional:
          type:
            - string
            - 'null'
    ExpandableCategory:
      description: Identificatorul unei categorii, sau categoria completă când este numită în `expand`.
      oneOf:
        - type: string
          format: uuid
        - $ref: '#/components/schemas/Category'
    ExpandableCounterparty:
      description: Identificatorul unui partener, partenerul complet când este numit în `expand`, sau `null` când nu există atribuire.
      oneOf:
        - type: string
          format: uuid
        - $ref: '#/components/schemas/Counterparty'
        - type: 'null'
    ExpandableAccount:
      description: Identificatorul unui cont, sau contul complet când este numit în `expand`.
      oneOf:
        - type: string
          format: uuid
        - $ref: '#/components/schemas/Account'
    ExpandableLabels:
      description: Identificatori de etichete, sau etichetele complete când `labels` este numit în `expand`.
      type: array
      items:
        oneOf:
          - type: string
            format: uuid
          - $ref: '#/components/schemas/Label'
    Transaction:
      type: object
      required:
        - object
        - id
        - date
        - amount
        - currency
        - direction
        - status
        - source
        - description
        - comment
        - account
        - category
        - counterparty
        - labels
        - bank_details
        - created_at
        - updated_at
      properties:
        object:
          type: string
          const: transaction
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
          description: Data înregistrării. Nu există componentă de timp.
          example: '2026-09-03'
        amount:
          $ref: '#/components/schemas/Money'
        currency:
          $ref: '#/components/schemas/Currency'
        direction:
          $ref: '#/components/schemas/Direction'
        status:
          $ref: '#/components/schemas/TransactionStatus'
        source:
          $ref: '#/components/schemas/TransactionSource'
        description:
          type:
            - string
            - 'null'
          example: ORANGE ROMANIA SA
        comment:
          type:
            - string
            - 'null'
          description: Text liber adăugat de utilizatori în ThinkOut.
        account:
          $ref: '#/components/schemas/ExpandableAccount'
        category:
          oneOf:
            - $ref: '#/components/schemas/ExpandableCategory'
            - type: 'null'
          description: '`null` pentru o tranzacție împărțită, a cărei categorisire stă pe bucățile ei.'
        counterparty:
          $ref: '#/components/schemas/ExpandableCounterparty'
        labels:
          $ref: '#/components/schemas/ExpandableLabels'
        bank_details:
          oneOf:
            - $ref: '#/components/schemas/BankDetails'
            - type: 'null'
          description: '`null` dacă `source` nu este `bank`.'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        object: transaction
        id: 8f1c0a4e-2b1d-4c8e-9f3a-7d6e5c4b3a21
        date: '2026-09-03'
        amount: '-1250.00'
        currency: RON
        direction: outflow
        status: booked
        source: bank
        description: ORANGE ROMANIA SA
        comment: null
        account: c2d7e8f9-1a2b-4c3d-8e9f-0a1b2c3d4e5f
        category: 3b4c5d6e-7f80-4a1b-9c2d-3e4f5a6b7c8d
        counterparty: 9a8b7c6d-5e4f-4a3b-8c2d-1e0f9a8b7c6d
        labels:
          - 1f2e3d4c-5b6a-4978-8877-665544332211
        bank_details:
          payer: THINKOUT SRL
          payer_details: RO49INGB0000999900000001
          payee: ORANGE ROMANIA SA
          payee_details: RO12BTRL0000000000000002
          reference: Factura 2026-08 nr 1234567
          additional: null
        created_at: '2026-09-03T08:12:44Z'
        updated_at: '2026-09-03T08:12:44Z'
    BankStatus:
      type: string
      description: '`connected` funcționează. `loading` este o sincronizare în curs. `requires_action` cere ca o persoană să se autentifice sau să reaprobe conexiunea în ThinkOut. `error` este orice altă eroare. Doar `connected` înseamnă că datele din spate sunt la zi.'
      enum:
        - connected
        - loading
        - requires_action
        - error
    Bank:
      type: object
      description: O autorizare cu o singură bancă. Mai multe conturi pot folosi aceeași conexiune, iar un spațiu de lucru poate avea mai multe conexiuni la aceeași bancă.
      required:
        - object
        - id
        - name
        - country_code
        - status
        - last_sync_at
        - consent_expires_at
        - created_at
        - updated_at
      properties:
        object:
          type: string
          const: bank
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Numele băncii, așa cum îl raportează furnizorul.
          example: ING Bank
        country_code:
          type:
            - string
            - 'null'
          description: Țara băncii, cod ISO 3166-1 alpha-2.
          pattern: ^[A-Z]{2}$
          example: RO
        status:
          $ref: '#/components/schemas/BankStatus'
        last_sync_at:
          type:
            - string
            - 'null'
          format: date-time
          description: Când a întors furnizorul date cu succes ultima oară, sau `null`. O conexiune `connected` cu un `last_sync_at` vechi este cazul care merită o alertă.
        consent_expires_at:
          type:
            - string
            - 'null'
          format: date-time
          description: Când trebuie reînnoit consimțământul bancar, dacă furnizorul îl raportează.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        object: bank
        id: 5d6e7f80-9a1b-4c2d-8e3f-4a5b6c7d8e9f
        name: ING Bank
        country_code: RO
        status: connected
        last_sync_at: '2026-09-03T06:00:00Z'
        consent_expires_at: '2026-11-30T00:00:00Z'
        created_at: '2024-01-01T10:00:00Z'
        updated_at: '2026-09-03T06:00:00Z'
    ExpandableBank:
      description: Identificatorul unei conexiuni bancare, conexiunea completă când este numită în `expand`, sau `null` pentru un cont manual. Pe un cont `delegated` conexiunea aparține altui spațiu de lucru, așa că identificatorul este întors, dar nu este nici extins, nici citibil.
      oneOf:
        - type: string
          format: uuid
        - $ref: '#/components/schemas/Bank'
        - type: 'null'
    Account:
      type: object
      required:
        - object
        - id
        - name
        - currency
        - group
        - source
        - balance
        - balance_as_of
        - opening_balance
        - opening_date
        - bank
        - external_account_id
        - original_name
        - created_at
        - updated_at
      properties:
        object:
          type: string
          const: account
        id:
          type: string
          format: uuid
        name:
          type: string
          example: ING Curent
        currency:
          $ref: '#/components/schemas/Currency'
        group:
          type:
            - string
            - 'null'
          description: Grupare cu text liber, atribuită în ThinkOut.
          example: Operational
        source:
          $ref: '#/components/schemas/AccountSource'
        balance:
          $ref: '#/components/schemas/Money'
        balance_as_of:
          type: string
          format: date
          description: Ziua al cărei sold de sfârșit de zi este raportat.
        opening_balance:
          $ref: '#/components/schemas/Money'
        opening_date:
          type: string
          format: date
          description: Data la care se aplică soldul inițial.
        bank:
          $ref: '#/components/schemas/ExpandableBank'
        external_account_id:
          type:
            - string
            - 'null'
          description: Identificatorul contului la furnizor. `null` pentru conturile manuale.
        original_name:
          type:
            - string
            - 'null'
          description: Numele contului așa cum îl raportează banca, înainte de orice redenumire în ThinkOut. `null` pentru conturile manuale.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        object: account
        id: c2d7e8f9-1a2b-4c3d-8e9f-0a1b2c3d4e5f
        name: ING Curent
        currency: RON
        group: Operational
        source: bank
        balance: '15230.45'
        balance_as_of: '2026-09-03'
        opening_balance: '1000.00'
        opening_date: '2024-01-01'
        bank: 5d6e7f80-9a1b-4c2d-8e3f-4a5b6c7d8e9f
        external_account_id: ACC-00012345
        original_name: Cont curent RON
        created_at: '2024-01-01T10:00:00Z'
        updated_at: '2026-08-30T06:00:00Z'
    Category:
      type: object
      required:
        - object
        - id
        - name
        - code
        - direction
        - activity
        - parent_id
        - position
        - color
        - created_at
        - updated_at
      properties:
        object:
          type: string
          const: category
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Telecom
        code:
          type:
            - string
            - 'null'
          description: Identificatorul categoriei în șablonul din care a fost creat spațiul de lucru, sau `null` pentru o categorie creată de cineva. Doar `uncategorized_inflows` și `uncategorized_outflows` există în fiecare spațiu de lucru și merită tratate special.
          example: uncategorized_outflows
        direction:
          $ref: '#/components/schemas/Direction'
        activity:
          $ref: '#/components/schemas/Activity'
        parent_id:
          type:
            - string
            - 'null'
          format: uuid
          description: '`null` pentru categoriile de nivel superior.'
        position:
          type: integer
          description: Ordinea între categoriile de pe același nivel, ca în ThinkOut.
        color:
          type:
            - string
            - 'null'
          description: Culoare hex cu litere mici, ca în ThinkOut.
          pattern: ^#[0-9a-f]{6}$
          example: '#1b7fe4'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        object: category
        id: 3b4c5d6e-7f80-4a1b-9c2d-3e4f5a6b7c8d
        name: Telecom
        code: null
        direction: outflow
        activity: operating
        parent_id: 6a7b8c9d-0e1f-4a2b-8c3d-4e5f6a7b8c9d
        position: 2
        color: '#1b7fe4'
        created_at: '2024-01-01T10:00:00Z'
        updated_at: '2024-01-01T10:00:00Z'
    Counterparty:
      type: object
      required:
        - object
        - id
        - name
        - country_code
        - color
        - symbol
        - created_at
        - updated_at
      properties:
        object:
          type: string
          const: counterparty
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Orange
        country_code:
          type:
            - string
            - 'null'
          description: Cod de țară ISO 3166-1 alpha-2.
          pattern: ^[A-Z]{2}$
          example: RO
        color:
          type:
            - string
            - 'null'
          pattern: ^#[0-9a-f]{6}$
        symbol:
          type:
            - string
            - 'null'
          description: Text scurt afișat în avatarul partenerului în ThinkOut.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        object: counterparty
        id: 9a8b7c6d-5e4f-4a3b-8c2d-1e0f9a8b7c6d
        name: Orange
        country_code: RO
        color: '#e4571b'
        symbol: OR
        created_at: '2024-02-14T08:00:00Z'
        updated_at: '2024-02-14T08:00:00Z'
    LabelType:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Quarter
    Label:
      type: object
      required:
        - object
        - id
        - name
        - type
        - color
        - created_at
        - updated_at
      properties:
        object:
          type: string
          const: label
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Q3
        type:
          oneOf:
            - $ref: '#/components/schemas/LabelType'
            - type: 'null'
          description: Grupul din care face parte eticheta, sau `null` când nu are niciunul. Tipurile nu au endpoint propriu.
        color:
          type:
            - string
            - 'null'
          pattern: ^#[0-9a-f]{6}$
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        object: label
        id: 1f2e3d4c-5b6a-4978-8877-665544332211
        name: Q3
        type:
          id: 7c8d9e0f-1a2b-4c3d-8e4f-5a6b7c8d9e0f
          name: Quarter
        color: '#7c3aed'
        created_at: '2026-01-05T09:00:00Z'
        updated_at: '2026-01-05T09:00:00Z'
    Recurrence:
      type: object
      description: Planul recurent din care a fost generată această previziune.
      required:
        - id
        - name
        - interval
        - every
        - start_date
        - end_date
        - occurrences
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Office rent
        interval:
          $ref: '#/components/schemas/RecurrenceInterval'
        every:
          type: integer
          minimum: 1
          description: 'Numărul de intervale între apariții. `interval: month, every: 1` înseamnă lunar.'
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        occurrences:
          type: integer
          description: Numărul total de previziuni generate de plan.
    Forecast:
      type: object
      required:
        - object
        - id
        - date
        - amount
        - remaining_amount
        - currency
        - direction
        - status
        - description
        - comment
        - category
        - counterparty
        - labels
        - recurrence
        - linked_transactions
        - created_at
        - updated_at
      properties:
        object:
          type: string
          const: forecast
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
          description: Ziua în care este așteptată mișcarea.
        amount:
          $ref: '#/components/schemas/Money'
        remaining_amount:
          $ref: '#/components/schemas/Money'
          description: Partea din `amount` neacoperită încă de tranzacțiile asociate.
        currency:
          $ref: '#/components/schemas/Currency'
        direction:
          $ref: '#/components/schemas/Direction'
        status:
          $ref: '#/components/schemas/ForecastStatus'
        description:
          type:
            - string
            - 'null'
        comment:
          type:
            - string
            - 'null'
        category:
          $ref: '#/components/schemas/ExpandableCategory'
        counterparty:
          $ref: '#/components/schemas/ExpandableCounterparty'
        labels:
          $ref: '#/components/schemas/ExpandableLabels'
        recurrence:
          oneOf:
            - $ref: '#/components/schemas/Recurrence'
            - type: 'null'
        linked_transactions:
          type: array
          description: Tranzacțiile potrivite cu această previziune, ca identificatori, sau ca tranzacții când `linked_transactions` este numit în `expand`.
          items:
            oneOf:
              - type: string
                format: uuid
              - $ref: '#/components/schemas/Transaction'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        object: forecast
        id: 7e6d5c4b-3a29-4180-9f8e-7d6c5b4a3928
        date: '2026-09-15'
        amount: '-4200.00'
        remaining_amount: '-4200.00'
        currency: EUR
        direction: outflow
        status: planned
        description: Office rent
        comment: null
        category: 2a3b4c5d-6e7f-4809-8a1b-2c3d4e5f6a7b
        counterparty: 8b9c0d1e-2f3a-4b5c-8d6e-7f8a9b0c1d2e
        labels:
          - 0f1e2d3c-4b5a-4968-8776-655443322110
        recurrence:
          id: 4c5d6e7f-8091-4a2b-9c3d-4e5f6a7b8c9d
          name: Office rent
          interval: month
          every: 1
          start_date: '2026-01-15'
          end_date: '2026-12-15'
          occurrences: 12
        linked_transactions: []
        created_at: '2025-12-20T09:30:00Z'
        updated_at: '2025-12-20T09:30:00Z'
